body {
  padding: 2rem 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section {
  margin-top: 3rem;
}

section > h2::after {
  content: '';
  display: block;
  width: 15rem;
  border: 1px solid black;
}

#address {
  margin-top: 2rem;
}

#contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-style: solid;
  border-color: black;
  border-width: 1px 0px;
  gap: 0.2rem;
  padding: 2px 0.5rem;
  margin-top: 0.2rem;
}

#about {
  line-height: 1.5;
  margin-top: 2rem;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.experience ul {
  margin: 0rem;
}

.experience + .experience {
  margin-top: 1rem;
}

.skill-set {
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: 0.5rem;
}

.skill-set + .skill-set {
  margin-top: 0.3rem;
}

.works {
  display: grid;
  gap: 0.8rem;
}

.work {
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 6.5rem;
}

.work .title {
  text-transform: uppercase;
  font-weight: bold;
}

.work .stack {
  font-style: italic;
}

.work .links {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.work .description {
  margin-top: 0.2rem;
}

.schools {
  display: grid;
  gap: 1rem;
}

.school {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.contact-form {
  display: grid;
  gap: 1rem;
  width: fit-content;
}

.form-input {
  display: grid;
}

.form-input input,
textarea {
  border: 0;
  border-bottom: 1px solid black;
}

.form-input input {
  width: 15rem;
}

.form-input textarea {
  width: 20rem;
}

.contact-form button[type='submit'] {
  width: fit-content;
  padding: 0.3rem;
  justify-self: center;
}

#logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#logos img {
  width: auto;
}

@media (min-width: 1024px) {
  body {
    padding: 2rem 8rem;
  }

  #about {
    padding: 0rem 5rem;
  }

  #contacts {
    gap: 2rem;
  }

  .skill-set {
    grid-template-columns: 15rem 1fr;
  }

  .works {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
  }

  .form-input {
    grid-template-columns: 8rem 1fr;
  }

  #logos {
    flex-direction: row;
    justify-content: space-around;
  }
}
