doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Joshua Farayola | Web Developer
    link(rel="stylesheet" href="/style/contact-response.css")
  body
    div.failure You have not provided sufficient information for me to get back to you.
      a(href="/") Home 